/*ECRAN DE 940PX A 1024PX MAX*/
body {
    width: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.menu {
    display: flex;
    
}

.menu ul {   
    padding: 0;
    position:absolute;
    left: 47%;
}

.menu li {
position: relative;
border-top: 2px solid white;
padding-right: 1em;
padding-left: 1em;
top: 0;
padding-top: 40px;
}

#slider img {
    width: 100%;
    height: auto;
    position: relative;
}

#introduction {
    bottom: 60px;
    flex-direction: column;
    display: flex;
    width: 65%;
    left: 8%;
}

h1 {
    margin:0;
    font-size: 22px;
 }
#text_introduction {
    font-size: 12px;
}

#more_infos {
    width: 15%;
    font-size: 15px;
    padding: 7px;
}

#computer {
    margin: 0px;
    width: 50%;
    margin-top: 0;
}

#portfolio figure {
    width: 30%;
}

h4 {
    margin-top: 25px;
}